<div class="event-modal-backdrop" (click)="close()"></div>

<div class="event-modal">
    <button class="close-button" (click)="close()">×</button>
    <h3>{{ event.name }}</h3>

    <img
      [src]="event.eimage || fallbackImageUrl"
      alt="{{ event.name }} image"
      class="event-image"
    />

    <div class="event-details">
      <p><strong>Genre:</strong> {{ event.genre }}</p>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Description:</strong> {{ event.description }}</p>

      <div *ngIf="event.ticketUrl" class="ticket-button-container">
      <a [href]="event.ticketUrl" target="_blank" rel="noopener noreferrer">
      <button mat-raised-button color="primary" class="ticket-button">
      <mat-icon class="ticket-icon">local_activity</mat-icon>
      </button>
      </a>
      </div>

      <div *ngIf="event.lineup.length > 0" class="lineup-section">
        <p><strong>Line-up:</strong></p>
        <div class="artist-lineup">
          <button 
            *ngFor="let artist of event.lineup" 
            class="artist-pill" 
            (click)="openArtistModal(artist)">
            {{ artist }}
          </button>
        </div>
      </div>
    </div>
  </div>
