<div class="w-full h-screen font-[Manrope] bg-tertiary-dark flex items-center justify-center relative">
  <div class="fg rounded-2xl shadow-2xl p-8 w-[28rem]">
    <h2 class="text-3xl font-extrabold mb-2">Welcome back!</h2>
    <p class="text-sm mb-6">Sign in to continue your journey.</p>

    <form class="space-y-4">
      <div>
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="you@example.com"
        />
      </div>

      <div>
        <label>Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="••••••••"
        />
      </div>

      <button
        class="w-full"
        type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
