.artist-card {
  width: 100%;             
  max-width: 100%;          
  min-width: 0;            
  height: auto;
  max-height: 100%;          
  box-sizing: border-box;    
  flex-shrink: 0;
}
.artist-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

mat-card-image {
  border-radius: 4px;
  object-fit: cover;
}
